html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'OpenSans', sans-serif;
    font-weight: 400;
    line-height: 1.4;
    font-size: 14px;
    letter-spacing: 0.03em;
    color: $color-body;
    background-color: $white;
    margin: 0;
}

button,
input,
a {
    transition: all 0.3s;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    margin-left: 20px;
}

svg {
    fill: currentColor;
}

.no-scroll {
    overflow: hidden;
    margin-right: calc(17px - (100vw - 100%));
}

.no-scroll--menu {
    overflow: hidden;
    margin-left: calc(17px - (100vw - 100%));
}

.no-scroll--mobile {
    overflow: hidden;
}

.no-scroll,
.no-scroll--menu {
    &::after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 160px;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.5);

        @media (max-width: 768px) {
            top: 156px;
        }

        @media (max-width: 576px) {
            top: 147px;
        }
    }
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    max-width: 1320px;
    padding: 0 15px;
    margin: 0 auto;
}

.section {
    padding: 72px 0;

    @media (max-width: 576px) {
        padding: 48px 0;
    }
}

.main {
    flex-grow: 1;
}

.title {
    font-family: 'Ruda', sans-serif;
    font-weight: 600;
    font-size: 32px;
    text-transform: uppercase;
    margin-bottom: 30px;

    @media (max-width: 576px) {
        margin-bottom: 24px;
        font-size: 24px;
    }
}

.input-look {
    background-color: $white;
    border-radius: 6px 0 0 6px;

    &:hover {
        background-color: $green-200;
    }

    &:focus {
        outline: 1px solid #63A60E;
        box-shadow: 0px 0px 0px 4px rgba(255, 255, 255, 0.5);
    }

    &--header {
        @media (max-width: 1170px) {
            border-radius: 0;
            border: 1px solid #31352B;
        }
    }
}

.counter {
    position: absolute;
    top: 3px;
    left: 1px;
    background-color: $white;
    border-radius: 50%;
    color: $red-900;
    font-weight: 600;
    font-size: 10px;
    line-height: 1;
    padding: 3px 4px;
}

.jq-number {
    position: relative;
    width: 85px;
    height: 24px;
}

.jq-number__field {
    margin: 0 24px;
    padding: 0 8px;
    font-size: 16px;
    line-height: 1;
    color: $dark-500;
    background-color: rgba(99, 166, 14, 0.1);
}

.jq-number__spin {
    position: absolute;
    top: 0;
    width: 24px;
    height: 100%;
    background-color: $green-900;

    &::after {
        content: '';
        position: absolute;
        top: 50%;
        left: 4px;
        transform: translateY(-50%);
        width: 16px;
        height: 2px;
        background-color: $white;
    }

    &.minus {
        left: 0;
    }

    &.plus {
        right: 0;

        &::before {
            content: '';
            position: absolute;
            bottom: 11px;
            left: 50%;
            width: 16px;
            height: 2px;
            background-color: $white;
            transform: translateX(-50%) rotate(90deg);
        }
    }

    &:hover {
        filter: brightness(90%);
    }

    &:focus {
        box-shadow: 0px 0px 0px 4px $green-200;
    }

    &:active {
        opacity: 0.8;
    }
}

.slick-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 60px;
    height: 60px;
    padding: 14px 21px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 6px;
    z-index: 1;
    color: $dark-500;

    &:hover {
        background-color: $green-200;
        color: $green-900;
    }

    &:focus {
        box-shadow: 0px 0px 0px 3px rgba(99, 166, 14, 0.5);
        color: #5a5a5a;
    }

    &:active {
        color: $green-900;
    }
}

.slick-next {
    right: 51px;
}

.slick-prev {
    left: 53px;
}

.slick-disabled {
    color: $silver-600;
}

.slick-dots {
    display: flex;
    position: absolute;
    left: 50%;
    bottom: 35px;
    transform: translateX(-50%);

    @media (max-width: 768px) {
        bottom: 15px;
    }
}

.slick-dots li {
    font-size: 0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: $white;
    border: 1px solid $silver-600;

    &:not(:last-child) {
        margin-right: 12px;
    }

    &:hover {
        background-color: $green-200;
    }

    &:focus {
        border: 1px solid $green-hov;
    }

    &:active {
        opacity: 0.8;
    }

    &.slick-active {
        background-color: $green-hov;
        border-color: $green-hov;
    }

    @media (max-width: 768px) {
        width: 10px;
        height: 10px;
    }
}

.mixitup-control-active {
    border-bottom: 2px solid rgba(99, 166, 14, 0.2);
}

.jq-selectbox {
    padding: 15px 45px 15px 11px;
    position: relative;
    border: 1px solid $silver-600;
    border-radius: 3px;
    color: $dark-500;
    background-color: $white;
    margin-right: 15px;

    &::after {
        content: '';
        position: absolute;
        top: 23px;
        right: 15px;
        background-image: url('../../images/sprite.svg#icon-chevron-up');
        @extend %bg;
        width: 11px;
        height: 6px;
    }

    &.opened {
        &::after {
            transform: rotate(180deg);
        }
    }

    &__dropdown {
        padding: 15px 45px 15px 11px;
        background-color: $white;
    }
}