.menu {
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    padding: 26px 15px;
    z-index: 3;
    max-width: 370px;
    width: 100%;
    background-color: $white;
    overflow-y: auto;

    &.active {
        display: block;
    }

    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 26px;
    }

    &__inner {
        display: flex;
        align-items: end;
        background-color: $green-900;
        margin: 0 -15px;
    }

    &__link-user {
        display: block;
        position: relative;
        color: $white;
        font-size: 18px;
        line-height: 1;
        padding: 15px 21px;

        &--entry {
            padding: 9px 19px 13px 15px;

            &::after {
                content: '';
                position: absolute;
                top: 19px;
                right: 0;
                width: 1px;
                height: 18px;
                background-color: currentColor;
            }
        }

        &:hover {
            color: $green-hov;
        }

        &:focus {
            background-color: $green-hov;
        }

        &:active {
            color: $dark-800;
        }
    }

    &__link-user-icon {
        margin-bottom: -8px;
        margin-right: 10px;
    }

    &__link {
        display: block;
        font-size: 18px;
        line-height: 1.2;
        color: $dark-800;
        padding: 7px 0;

        &:active {
            background-color: $green-200;
        }
    }

    @media (max-width: 576px) {
        max-width: 300px;
    }
}