.advantages {
    padding: 48px 0 30px;
    background-color: $silver-100;

    &__list {
        display: flex;
        justify-content: center;

        @media (max-width: 992px) {
            flex-wrap: wrap;
            justify-content: space-around;
        }

        @media (max-width: 576px) {
            flex-direction: column;
        }
    }

    &__item {
        background-repeat: no-repeat;
        background-position: top left;
        background-size: 50px 50px;
        letter-spacing: normal;
        padding-left: 75px;
        max-width: 265px;
        width: 100%;

        &:not(:last-child) {
            margin-right: 65px;

            @media (max-width: 992px) {
                margin-right: 0;
                margin-bottom: 30px;
            }
        }

        @media (max-width: 576px) {
            max-width: 100%;
        }
    }

    &__text {
        display: block;
        font-weight: 600;
        font-size: 16px;
        letter-spacing: normal;
        color: $color-body;
        margin-bottom: 6px;
    }

    @media (max-width: 576px) {
        padding-top: 30px;
    }
}