.comment {
    &__title {
        font-family: 'Ruda';
        font-weight: 600;
        font-size: 18px;
        line-height: 1.2;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        margin-bottom: 49px;
    }

    &__list {
        margin-bottom: 72px;
    }

    &__item {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        letter-spacing: normal;

        &:not(:last-child) {
            margin-bottom: 22px;
            padding-bottom: 24px;
            border-bottom: 1px solid $silver-600;
        }
    }

    &__img {
        margin-right: 24px;
        border-radius: 50%;
    }

    &__author {
        font-weight: 700;
        line-height: 1;
        margin-right: auto;
    }

    &__meta {
        display: block;
        margin-top: 11px;
        font-weight: 400;
        font-size: 14px;
        line-height: 1;
        color: #4F4F4F;
    }

    &__guote {
        font-size: 16px;
        line-height: 1.6;
        color: $dark-500;
        margin-top: 27px;
        width: 100%;
    }
}