.footer-nav {
    &__list {
        column-count: 3;
        column-gap: 75px;
        margin-right: 83px;
    }

    &__item {
        margin-bottom: 18px;
    }

    &__link {
        display: block;
        color: $white;
    }
}