.nav {
    &__top {
        background-color: $dark-800;
        padding: 14px 0;
    }

    &__menu {
        display: flex;
        align-items: center;
    }

    &__item {
        color: $white;

        &:not(:last-child) {
            margin-right: 24px;
        }

        &:first-child {
            margin-right: 48px;
        }

        &:nth-child(2) {
            margin-right: auto;
        }
    }

    &__link {
        font-size: 13px;
        line-height: 1.1;
        font-weight: 700;
        text-transform: uppercase;
        border-radius: 3px;

        &:hover {
            opacity: 0.7;
        }

        &:focus {
            box-shadow: 0px 0px 0px 3px $green-100;
        }

        &:active {
            color: $green-200;
        }
    }

    &__link-icon {
        margin-right: 10px;
        margin-bottom: -5px;
        fill: $white;
    }

    &__bottom {
        background-color: $green-900;
        padding: 25px 0;
    }

    &__inner {
        display: flex;
        align-items: center;
    }

    &__logo {
        margin-right: 24px;
    }

    &__catalog {
        margin-right: 30px;
    }

    &__search {
        margin-right: 45px;
    }

    &__list {
        display: flex;
    }

    &__items:not(:last-child) {
        margin-right: 12px;
    }
}