.pagination {
    display: flex;

    &__item {
        &:not(:last-child) {
            margin-right: 6px;
        }

        @media (max-width: 576px) {

            &:nth-child(3),
            &:nth-last-child(3) {
                display: none;
            }
        }
    }

    &__link {
        display: block;
        text-align: center;
        width: 48px;
        height: 48px;
        font-size: 18px;
        line-height: 1;
        color: $dark-500;
        border: 1px solid transparent;
        background-color: $silver-100;
        border-radius: 3px;
        padding: 15px 0;

        &.active {
            border: 1px solid #505050;
        }

        &:hover {
            border: 1px solid $silver-600;
        }

        &:focus {
            box-shadow: 0 0 0 3px $green-200;
        }

        &:active {
            box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.25);
        }
    }

    &__arrow {
        &--prev {
            transform: rotate(180deg);
        }

        &.disable {
            color: $silver-600;
        }
    }

}