.partners {
    &__wrapper {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    &__icon {
        opacity: 0.5;
        transition: all 0.3s;

        &:hover {
            opacity: 1;
        }
    }
}