.preview {
    position: relative;

    &__meta {
        position: absolute;
        top: 0;
        left: 20px;
    }

    &__title {
        overflow-y: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        letter-spacing: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 1.5;
        padding: 18px;
    }

    &:hover {
        .preview__title {
            color: $green-900;
        }
    }
}