.products-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 1fr;
    grid-gap: 30px;
    margin-bottom: 48px;

    &--basket {
        display: flex;
        flex-direction: column;
        padding: 12px;
        grid-gap: 12px;
        overflow-y: auto;
        height: calc(100vh - 210px);
        background-color: $silver-100;
    }
}