.promotion-card {
    @extend %bg;
    color: $dark-500;
    padding: 76px 32px;
    border-radius: 6px;
    letter-spacing: normal;
    text-transform: uppercase;
    min-height: 300px;

    &--light {
        color: $white;
        text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.25);
    }

    &__text {
        display: block;
        font-weight: 700;
        font-size: 12px;
        line-height: 1;
        letter-spacing: 0.1em;
        margin-bottom: 18px;

        @media (max-width: 576px) {
            margin-bottom: 15px;
        }
    }

    &__title {
        font-family: 'Ruda', sans-serif;
        font-weight: 600;
        font-size: 30px;
        margin-bottom: 10px;
        max-width: 88%;

        @media (max-width: 576px) {
            font-size: 24px;
            margin-bottom: 77px;
        }
    }

    &__link {
        font-weight: 700;
        line-height: 1;
        padding-bottom: 4px;
        border-bottom: 2px solid currentColor;

        &:hover {
            filter: invert(80%);
        }

        &:focus {
            outline: auto;
        }

        &:active {
            opacity: 0.3;
        }
    }

    @media (max-width: 576px) {
        padding: 76px 15px 30px 15px;
    }
}