.price {
    &--top {
        max-width: 50px;
    }

    &--stock {
        .price__item {
            &:not(:last-child) {
                margin-right: 12px;
            }

            &--old {
                font-size: 12px;
            }
        }
    }

    &--specification {
        display: inline-block;
        margin-bottom: 58px;
    }

    &__item {
        color: $dark-500;
        line-height: 1;

        &--old,
        &--specific-old {
            position: relative;
            color: $silver-600;

            &::before {
                content: '';
                position: absolute;
                bottom: 6px;
                left: 0;
                transform: rotate(-15deg);
                width: 100%;
                height: 1px;
                background-color: currentColor;
            }
        }

        &--actual {
            font-weight: 600;
            font-size: 20px;

            .price__currency {
                margin-bottom: -2px;
                margin-left: -6px;
            }
        }

        &--specific-old {
            font-weight: 700;
            font-size: 20px;
            line-height: 1;
            margin-right: 18px;

            &::before {
                bottom: 10px;
            }
        }

        &--specific-actual {
            font-weight: 700;
            font-size: 30px;
            line-height: 1;
            color: $green-900;
        }
    }

    &__currency {
        margin-bottom: -3px;
        margin-left: -2px;
    }
}