.product-card {
    position: relative;
    border: 1px solid rgba(17, 17, 17, 0.2);
    border-radius: 6px;
    padding-top: 57px;
    text-align: left;
    height: 100%;
    max-width: 300px;
    transition: all 0.3s;

    &:hover {
        border: 1px solid $green-900;

        .product-card__link {
            &::after {
                background-color: rgba(0, 0, 0, 0.1);
                z-index: 0;
            }

            &::before {
                z-index: 1;
            }
        }
    }

    &__chosen-btn {
        position: absolute;
        right: 5px;
        top: 10px;
    }

    &__link {
        display: block;
        position: relative;
        overflow: hidden;
        flex-shrink: 0;

        &::after {
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            z-index: -1;
        }

        &::before {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-image: url('../images/icons/icon-search-product-card.svg');
            background-repeat: no-repeat;
            background-position: center;
            background-size: 20px 20px;
            padding: 14px;
            width: 48px;
            height: 48px;
            background-color: $white;
            border-radius: 50%;
            z-index: -1;
        }

        &--stock {
            max-width: 100px;
            margin-right: 12px;
        }

        &--basket {
            max-width: 60px;

            @media (max-width: 576px) {
                margin-right: 12px;
            }
        }
    }

    &__img {
        &--small {
            @media (max-width: 576px) {
                object-fit: contain;
                height: 120px;
            }
        }
    }

    &__wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-end;
        padding: 18px;
        text-align: left;

        &--stock {
            padding: 0;
        }
    }

    &__wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin-bottom: 6px;
    }

    &__inner {
        padding: 0;
        max-width: 170px;
        width: 100%;

        @media (max-width: 576px) {
            min-width: 70%;
        }
    }

    &__amount {
        display: flex;
        align-items: end;

        @media (max-width: 576px) {
            width: 100%;
            margin-top: 18px;
            justify-content: space-between;
        }
    }

    &__input {
        margin-right: 12px;
    }

    &__cost {
        font-weight: 600;
        font-size: 20px;
        line-height: 1;
        color: $dark-500;
    }

    &__cost-currency {
        margin-bottom: -2px;
        margin-left: -6px;
    }

    &__title {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        font-weight: 600;
        font-size: 14px;
        line-height: 1.4;
        width: 100%;
        margin-bottom: 10px;
        min-height: 4.2em;

        &--stock {
            margin-bottom: 7px;
        }

        &--basket {
            -webkit-line-clamp: 2;
            margin-bottom: 5px;
            min-height: 1.4em;
        }
    }

    &__status {
        font-weight: 600;
        font-size: 10px;
        line-height: 1;
        text-transform: uppercase;
        margin-bottom: 5px;
        width: 100%;

        &--in {
            color: $green-900;
        }

        &--no {
            color: $silver-600;
        }

        &--end {
            color: $red-900;
        }
    }

    &__stars {
        display: flex;
        font-weight: 700;
        line-height: 1;
        color: $dark-500;
    }

    &__stars-icon {
        fill: $yellow-900;
        margin-bottom: -2px;
    }

    &--stock,
    &--basket {
        display: flex;
        padding: 12px;
        background-color: $white;
        max-width: 100%;

        &:hover {
            .product-card__link {

                &::after,
                &::before {
                    display: none;
                }
            }
        }
    }

    &--basket {
        justify-content: space-between;
        align-items: end;
        padding-top: 9px;

        @media (max-width: 576px) {
            padding: 12px 15px;
            flex-wrap: wrap;
            justify-content: start;
        }
    }

    &.list {
        display: flex;
        max-width: 466px;
        padding: 0;

        .product-card__link {
            margin-top: 6px;
        }

        .product-card__img {
            width: 200px;
            height: 140px;
        }

        .product-card__chosen-btn {
            top: 57px;
            right: 11px;
        }

        .product-card__wrapper {
            padding: 12px 18px;
        }

        .badge {
            top: 2px;
            left: 6px;
        }

        .product-card__wrap {
            margin-bottom: 12px;
        }

        .product-card__title {
            padding-right: 50px;
            margin-bottom: 13px;
        }
    }
}