<div class="advantages">
    <div class="container">
        <ul class="advantages__list">
            <li class="advantages__item" style="background-image: url('images/icons/icon-delivery.svg');">
                <span class="advantages__text">Бесплатная доставка</span>
                Для заказов на сумму от 500 Р
            </li>
            <li class=" advantages__item" style="background-image: url('images/icons/icon-return.svg');">
                <span class="advantages__text">Возврат товара</span>
                Если товары были испорчены
            </li>
            <li class="advantages__item" style="background-image: url('images/icons/icon-24-hours.svg');">
                <span class="advantages__text">Поддержка 24/7</span>
                Лучшие операторы
            </li>
        </ul>
    </div>
</div>