<section class="banner">
    <h2 class="sr-only">
        Горячие предложения
    </h2>
    <div class="banner__wrapper">
        <div class="banner__item banner__item--bg-1">
            <div class="container">
                <div class="banner__container">
                    <div class="banner__inner">
                        <h3 class="banner__title">
                            Свежачок вам в хату
                            <span class="banner__headline">Скидка -50%</span>
                        </h3>
                        <p class="banner__subtitle">
                            Только с 7 по 13 июля скидка на сезонные фрукты и овощи до 50%.
                            Торопитесь!
                        </p>
                        <a class="button" href="#">Купить сейчас</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="banner__item banner__item--bg-2">
            <div class="container">
                <div class="banner__container">
                    <div class="banner__inner">
                        <h3 class="banner__title">
                            Накрути себе томатов
                            <span class="banner__headline">АКЦИЯ: 3 кг по цене 1</span>
                        </h3>
                        <p class="banner__subtitle">
                            Только с 12 по 15 июля скидка на домашние помидорчики
                        </p>
                        <a class="button" href="#">Купить сейчас</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="banner__item banner__item--bg-3">
            <div class="container">
                <div class="banner__container">
                    <div class="banner__inner">
                        <h3 class="banner__title">
                            Пусть остальные позеленеют от зависти
                            <span class="banner__headline">Распродажа зелени</span>
                        </h3>
                        <a class="button" href="#">Купить сейчас</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>