<div class="brands section">
    <div class="container">
        <div class="brands__wrapper">
            <span class="brands__item" style="background-image: url('images/brands/sprite.svg');">
            </span>
            <span class="brands__item" style="background-image: url('images/brands/dr-pepper.svg');">
            </span>
            <span class="brands__item" style="background-image: url('images/brands/cola.svg');">
            </span>
            <span class="brands__item" style="background-image: url('images/brands/pepsi.svg');">
            </span>
            <span class="brands__item" style="background-image: url('images/brands/redbull.svg');">
            </span>
            <span class="brands__item" style="background-image: url('images/brands/fanta.svg');">
            </span>
            <span class="brands__item" style="background-image: url('images/brands/pepsi.svg');">
            </span>
            <span class="brands__item" style="background-image: url('images/brands/redbull.svg');">
            </span>
            <span class="brands__item" style="background-image: url('images/brands/fanta.svg');">
            </span>
        </div>
    </div>
</div>