<div class="brands section">
    <div class="container">
        <div class="brands__wrapper">
            <span class="brands__item brands__item--sprite">
            </span>
            <span class="brands__item brands__item--pepper">
            </span>
            <span class="brands__item brands__item--cola">
            </span>
            <span class="brands__item brands__item--pepsi">
            </span>
            <span class="brands__item brands__item--redbull">
            </span>
            <span class="brands__item brands__item--fanta">
            </span>
            <span class="brands__item brands__item--fanta">
            </span>
        </div>
    </div>
</div>