<header class="header">
    <nav class="nav">
        <div class="nav__top">
            <div class="container">
                <ul class="nav__menu">
                    <li class="nav__item nav__item--thumb">
                        <a class="nav__link" href="#">
                            <svg class="nav__link-icon" width="32" height="22">
                                <use xlink:href="images/sprite.svg#icon-del-address"></use>
                            </svg>
                            Адрес и время доставки
                        </a>
                    </li>
                    <li class="nav__item nav__item--indent">
                        <a class="nav__link" href="#">
                            <svg class="nav__link-icon" width="22" height="22">
                                <use xlink:href="images/sprite.svg#icon-tell"></use>
                            </svg>
                            Горячая линия 24/7
                        </a>
                    </li>
                    <li class="nav__item">
                        <a class="nav__link" href="#">Доставка</a>
                    </li>
                    <li class="nav__item">
                        <a class="nav__link" href="#">О нас</a>
                    </li>
                    <li class="nav__item">
                        <a class="nav__link" href="#">Новости</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="nav__bottom">
            <div class="container">
                <div class="nav__inner">
                    <a class="nav__logo logo" href="#">
                        <img class="logo__img" src="images/logo.svg" width="200" height="60"
                            alt="Логотип магазина Фрешок">
                    </a>
                    <div class="catalog">
                        <button class="catalog__btn" type="button">
                            <svg class="catalog__btn-icon" width="25" height="17">
                                <use xlink:href="images/sprite.svg#icon-btn"></use>
                            </svg>
                            Каталог продуктов
                            <svg class="catalog__btn-arrow" width="9" height="4">
                                <use xlink:href="images/sprite.svg#icon-catalog-arrow"></use>
                            </svg>
                        </button>
                        <ul class="catalog__dropdown">
                            <li class="catalog__item">
                                <a class="catalog__link" href="#">Овощи и фрукты</a>
                            </li>
                            <li class="catalog__item">
                                <a class="catalog__link" href="#">Бакалея</a>
                            </li>
                            <li class="catalog__item">
                                <a class="catalog__link" href="#">Молочные продукты</a>
                            </li>
                            <li class="catalog__item">
                                <a class="catalog__link" href="#">Хлеб</a>
                            </li>
                            <li class="catalog__item">
                                <a class="catalog__link" href="#">Мясо</a>
                            </li>
                            <li class="catalog__item">
                                <a class="catalog__link" href="#">Колбаса</a>
                            </li>
                            <li class="catalog__item">
                                <a class="catalog__link" href="#">Рыба</a>
                            </li>
                            <li class="catalog__item">
                                <a class="catalog__link" href="#">Алкоголь</a>
                            </li>
                            <li class="catalog__item">
                                <a class="catalog__link" href="#">Напитки</a>
                            </li>
                            <li class="catalog__item">
                                <a class="catalog__link" href="#">Торты</a>
                            </li>
                            <li class="catalog__item">
                                <a class="catalog__link" href="#">Мясо</a>
                            </li>
                            <li class="catalog__item">
                                <a class="catalog__link" href="#">Чай, кофе</a>
                            </li>
                        </ul>
                    </div>
                    <form class="search" action="#">
                        <label class="search__label">
                            <span class="sr-only">ввести поиск товаров</span>
                            <input class="search__input input" type="search" name="search"
                                placeholder="Найти в магазине..."
                                style="background-image: url('images/icon-search.svg');" required>
                        </label>
                        <button class="search__form-btn form-btn" type="submit">Поиск</button>
                    </form>
                    <ul class="nav__list">
                        <li class="nav__items">
                            <button class="user-btn" type="button">
                                <span class="sr-only">вход в личный кабинет</span>
                                <svg class="user-btn__icon" width="32" height="32">
                                    <use xlink:href="images/sprite.svg#icon-user"></use>
                                </svg>
                            </button>
                        </li>
                        <li class="nav__items">
                            <button class="user-btn" type="button">
                                <span class="sr-only">избранные товары</span>
                                <svg class="user-btn__icon" width="32" height="32">
                                    <use xlink:href="images/sprite.svg#icon-heart"></use>
                                </svg>
                                <span class="user-btn__counter">12</span>
                            </button>
                        </li>
                        <li class="nav__items">
                            <button class="user-btn user-btn--basket" type="button">
                                <span class="sr-only">корзина товаров</span>
                                <svg class="user-btn__icon" width="32" height="32">
                                    <use xlink:href="images/sprite.svg#icon-basket"></use>
                                </svg>
                                <span class="user-btn__counter">12</span>
                            </button>
                            <div class="basket">
                                <span class="basket__title">Корзина</span>
                                <button class="basket__reset" type="reset">очистить корзину</button>
                                <button class="basket__close" type="button">
                                    <svg class="product__close-icon" width="24" height="24">
                                        <use xlink:href="images/sprite.svg#icon-close"></use>
                                    </svg>
                                </button>
                                <ul class="products-container products-container--basket">
                                    <li class="products-container__item">
                                        <article class="product-card product-card--basket">
                                            <a class="product-card__link product-card__link--basket" href="#"
                                                target="_blank">
                                                <img class="product-card__img"
                                                    src="images/product-cards/pineapple-m.jpg" width="60" height="60"
                                                    alt="ананас">
                                            </a>
                                            <div class="product-card__wrapper product-card__wrapper--stock">
                                                <h3 class="product-card__title product-card__title--stock">
                                                    Ананас, 1 кг
                                                </h3>
                                                <span class="product-card__price product-card__price--stock">
                                                    999
                                                    <svg class="currency" width="12" height="13">
                                                        <use xlink:href="images/sprite.svg#icon-rub"></use>
                                                    </svg>
                                                </span>
                                            </div>
                                            <form class="product-card__amount amount">
                                                <input class="amount__number" type="number" min="0" max="99">
                                                <span class="amount__value">
                                                    1998
                                                    <svg class="currency" width="10" height="13">
                                                        <use xlink:href="images/sprite.svg#icon-rub"></use>
                                                    </svg>
                                                </span>
                                            </form>
                                            <button class="product-card__close" type="button">
                                                <svg class="product-card__close-icon" width="12" height="12">
                                                    <use xlink:href="images/sprite.svg#icon-close"></use>
                                                </svg>
                                            </button>
                                        </article>
                                    </li>
                                    <li class="products-container__item">
                                        <article class="product-card product-card--basket">
                                            <a class="product-card__link product-card__link--basket" href="#"
                                                target="_blank">
                                                <img class="product-card__img"
                                                    src="images/product-cards/dragon-fruit.jpg" width="60" height="60"
                                                    alt="папайя">
                                            </a>
                                            <div class="product-card__wrapper product-card__wrapper--stock">
                                                <h3 class="product-card__title product-card__title--stock">
                                                    Питахайя красная с белой мякотью, 1шт
                                                </h3>
                                                <span class="product-card__price product-card__price--stock">
                                                    1019
                                                    <svg class="currency" width="12" height="13">
                                                        <use xlink:href="images/sprite.svg#icon-rub"></use>
                                                    </svg>
                                                </span>
                                            </div>
                                            <form class="product-card__amount amount">
                                                <input class="amount__number" type="number" min="0" max="99">
                                                <span class="amount__value">
                                                    2038
                                                    <svg class="currency" width="10" height="13">
                                                        <use xlink:href="images/sprite.svg#icon-rub"></use>
                                                    </svg>
                                                </span>
                                            </form>
                                            <button class="product-card__close" type="button">
                                                <svg class="product-card__close-icon" width="12" height="12">
                                                    <use xlink:href="images/sprite.svg#icon-close"></use>
                                                </svg>
                                            </button>
                                        </article>
                                    </li>
                                </ul>
                                <div class="basket__bottom">
                                    <span class="basket__text">Товаров на сумму</span>
                                    <span class="basket__total">
                                        2038
                                        <svg class="currency" width="14" height="15">
                                            <use xlink:href="images/sprite.svg#icon-rub"></use>
                                        </svg>
                                    </span>
                                    <button class="basket__checkout" type="button">Оформить заказ</button>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</header>