<section class="news section">
    <div class="container">
        <div class="news__inner">
            <h2 class="title">Наши новости</h2>
            <a class="news__link" href="#">все новости</a>
        </div>
        <ul class="news__list">
            <li class="news__item">
                <a class="news-card" href="#">
                    <img src="images/news/bg1.jpg" alt="клубника" width="410" height="240">
                    <time class="news-card__meta" datetime="07.15">
                        <span class="news-card__month">июль</span>
                        15
                    </time>
                    <h3 class="news-card__title">
                        Событие этого лета: распродажа сезонных фруктов в онлайн-маркете ФрешОК. Торопись, пока всё не
                        разобрали!
                    </h3>
                </a>
            </li>
            <li class="news__item">
                <a class="news-card" href="#">
                    <img src="images/news/bg2.jpg" alt="манго" width="410" height="240">
                    <time class="news-card__meta" datetime="05.07">
                        <span class="news-card__month">май</span>
                        07
                    </time>
                    <h3 class="news-card__title">
                        Шикарнейший выбор манго в нашем онлайн-маркете
                    </h3>
                </a>
            </li>
            <li class="news__item">
                <a class="news-card" href="#">
                    <img src="images/news/bg3.jpg" alt="папайя" width="410" height="240">
                    <time class="news-card__meta" datetime="02.20">
                        <span class="news-card__month">февраль</span>
                        20
                    </time>
                    <h3 class="news-card__title">
                        Всё, что вы хотели знать о папайя
                    </h3>
                </a>
            </li>
        </ul>
    </div>
</section>