<section class="news section">
    <div class="container">
        <h2 class="news__title title">Наши новости</h2>
        <a class="news__link" href="#" target="_blank">все новости</a>
        <ul class="news__list">
            <li class="news__item">
                <a class="preview" href="#">
                    <img class="preview__images" src="../../images/news/bg1.jpg" alt="клубник" width="410" height="240">
                    <ul class="preview__meta meta">
                        <li class="meta__month">июль</li>
                        <li class="meta__day">15</li>
                    </ul>
                    <h3 class="preview__title">
                        Событие этого лета: распродажа сезонных фруктов в онлайн-маркете ФрешОК. Торопись, пока всё не
                        разобрали!
                    </h3>
                </a>
            </li>
            <li class="news__item">
                <a class="preview" href="#">
                    <img class="preview__images" src="../../images/news/bg2.jpg" alt="манго" width="410" height="240">
                    <ul class="preview__meta meta">
                        <li class="meta__month">май</li>
                        <li class="meta__day">07</li>
                    </ul>
                    <h3 class="preview__title">
                        Шикарнейший выбор манго в нашем онлайн-маркете
                    </h3>
                </a>
            </li>
            <li class="news__item">
                <a class="preview" href="#">
                    <img class="preview__images" src="../../images/news/bg3.jpg" alt="папайя" width="410" height="240">
                    <ul class="preview__meta meta">
                        <li class="meta__month">февраль</li>
                        <li class="meta__day">20</li>
                    </ul>
                    <h3 class="preview__title">
                        Всё, что вы хотели знать о папайя
                    </h3>
                </a>
            </li>
        </ul>
    </div>
</section>