<div class="partners section">
    <h2 class="sr-only">Наши партнеры</h2>
    <div class="container">
        <ul class="partners__wrapper">
            <li class="partners__item">
                <img class="partners__icon" src="../../images/partners/sprite.svg" width="80" height="34" alt="sprite">
            </li>
            <li class="partners__item">
                <img class="partners__icon" src="../../images/partners/dr-pepper.svg" width="80" height="58"
                    alt="dr-pepper">
            </li>
            <li class="partners__item">
                <img class="partners__icon" src="../../images/partners/cola.svg" width="80" height="27" alt="coca-cola">
            </li>
            <li class="partners__item">
                <img class="partners__icon" src="../../images/partners/pepsi.svg" width="80" height="31" alt="pepsi">
            </li>
            <li class="partners__item">
                <img class="partners__icon" src="../../images/partners/redbull.svg" width="80" height="49"
                    alt="redbull">
            </li>
            <li class="partners__item">
                <img class="partners__icon" src="../../images/partners/fanta.svg" width="80" height="59" alt="fanta">
            </li>
        </ul>
    </div>
</div>