<section class="products-top section">
    <div class="container">
        <h2 class="title">Топовые товары</h2>
        <div data-ref="container-1">
            <ul class="categories-products">
                <li class="categories-products__item">
                    <button class="categories-products__btn" type="button" data-filter="all">Все товары</button>
                </li>
                <li class="categories-products__item">
                    <button class="categories-products__btn" type="button" data-filter=".fruit">Фрукты</button>
                </li>
                <li class="categories-products__item">
                    <button class="categories-products__btn" type="button" data-filter=".vegetables">Овощи</button>
                </li>
                <li class="categories-products__item">
                    <button class="categories-products__btn" type="button" data-filter=".drinks">Напитки</button>
                </li>
                <li class="categories-products__item">
                    <button class="categories-products__btn" type="button" data-filter=".groceries">Бакалея</button>
                </li>
            </ul>
            <ul class="products-top__container">
                <li class="products-top__item mix fruit">
                    <article class="product-card">
                        <span class="badge">
                            <span class="badge__item badge__item--new">Новинка</span>
                            <span class="badge__item badge__item--sale">-50%</span>
                        </span>
                        <button class="product-card__chosen-btn chosen-btn" type="button">
                            <span class="sr-only">добавить в избранное</span>
                            <svg width="32" height="29">
                                <use xlink:href="images/sprite.svg#icon-heart"></use>
                            </svg>
                        </button>
                        <a class="product-card__link" href="#">
                            <img class="product-card__img product-card__img--small"
                                src="images/product-cards/pineapple.jpg" width="298" height="215" alt="Ананас">
                        </a>
                        <div class="product-card__wrapper">
                            <h3 class="product-card__title">Ананас, 1кг
                            </h3>
                            <span class="price price--top">
                                <span class="price__item price__item--old">
                                    1999
                                    <svg class="price__currency" width="10" height="14">
                                        <use xlink:href="images/sprite.svg#icon-rub"></use>
                                    </svg>
                                </span>
                                <span class="price__item">
                                    999
                                    <svg class="price__currency" width="10" height="14">
                                        <use xlink:href="images/sprite.svg#icon-rub"></use>
                                    </svg>
                                </span>
                            </span>
                            <button class="basket-btn" type="button">
                                <span class="sr-only">корзина товаров</span>
                                <svg width="16" height="16">
                                    <use xlink:href="images/sprite.svg#icon-basket"></use>
                                </svg>
                            </button>
                        </div>
                    </article>
                </li>
                <li class="products-top__item mix fruit">
                    <article class="product-card">
                        <button class="product-card__chosen-btn chosen-btn" type="button">
                            <span class="sr-only">добавить в избранное</span>
                            <svg width="32" height="29">
                                <use xlink:href="images/sprite.svg#icon-heart"></use>
                            </svg>
                        </button>
                        <a class="product-card__link" href="#">
                            <img class="product-card__img product-card__img--small" src="images/product-cards/lemon.jpg"
                                width="298" height="215" alt="Лимон">
                        </a>
                        <div class="product-card__wrapper">
                            <h3 class="product-card__title">Лимон, 1кг</h3>
                            <span class="price price--top">
                                <span class="price__item">
                                    199
                                    <svg class="price__currency" width="10" height="14">
                                        <use xlink:href="images/sprite.svg#icon-rub"></use>
                                    </svg>
                                </span>
                            </span>
                            <button class="basket-btn" type="button">
                                <span class="sr-only">корзина товаров</span>
                                <svg width="16" height="16">
                                    <use xlink:href="images/sprite.svg#icon-basket"></use>
                                </svg>
                            </button>
                        </div>
                    </article>
                </li>
                <li class="products-top__item mix fruit">
                    <article class="product-card">
                        <span class="badge">
                            <span class="badge__item badge__item--hit">хит</span>
                        </span>
                        <button class="product-card__chosen-btn chosen-btn" type="button">
                            <span class="sr-only">добавить в избранное</span>
                            <svg width="32" height="29">
                                <use xlink:href="images/sprite.svg#icon-heart"></use>
                            </svg>
                        </button>
                        <a class="product-card__link" href="#">
                            <img class="product-card__img product-card__img--small"
                                src="images/product-cards/dragon-fruit.jpg" width="298" height="215" alt="Питахайя">
                        </a>
                        <div class="product-card__wrapper">
                            <h3 class="product-card__title">
                                Питахайя красная с белой мякотью, 1шт
                            </h3>
                            <span class="price price--top">
                                <span class="price__item">
                                    1019
                                    <svg class="price__currency" width="10" height="14">
                                        <use xlink:href="images/sprite.svg#icon-rub"></use>
                                    </svg>
                                </span>
                            </span>
                            <button class="basket-btn" type="button">
                                <span class="sr-only">корзина товаров</span>
                                <svg width="16" height="16">
                                    <use xlink:href="images/sprite.svg#icon-basket"></use>
                                </svg>
                            </button>
                        </div>
                    </article>
                </li>
                <li class="products-top__item mix groceries">
                    <article class="product-card">
                        <button class="product-card__chosen-btn chosen-btn" type="button">
                            <span class="sr-only">добавить в избранное</span>
                            <svg width="32" height="29">
                                <use xlink:href="images/sprite.svg#icon-heart"></use>
                            </svg>
                        </button>
                        <a class="product-card__link" href="#">
                            <img class="product-card__img product-card__img--small"
                                src="images/product-cards/ketchup.jpg" width="298" height="215" alt="Кетчуп детский">
                        </a>
                        <div class="product-card__wrapper">
                            <h3 class="product-card__title">
                                Кетчуп томатный детский органический Bio-Zentrale 500мл, 1 шт
                            </h3>
                            <span class="price price--top">
                                <span class="price__item">
                                    600
                                    <svg class="price__currency" width="10" height="14">
                                        <use xlink:href="images/sprite.svg#icon-rub"></use>
                                    </svg>
                                </span>
                            </span>
                            <button class="basket-btn" type="button">
                                <span class="sr-only">корзина товаров</span>
                                <svg width="16" height="16">
                                    <use xlink:href="images/sprite.svg#icon-basket"></use>
                                </svg>
                            </button>
                        </div>
                    </article>
                </li>
                <li class="products-top__item mix vegetables">
                    <article class="product-card">
                        <span class="badge">
                            <span class="badge__item badge__item--hit">хит</span>
                        </span>
                        <button class="product-card__chosen-btn chosen-btn" type="button">
                            <span class="sr-only">добавить в избранное</span>
                            <svg width="32" height="29">
                                <use xlink:href="images/sprite.svg#icon-heart"></use>
                            </svg>
                        </button>
                        <a class="product-card__link" href="#">
                            <img class="product-card__img product-card__img--small"
                                src="images/product-cards/carrot.jpg" width="298" height="215" alt="Морковь">
                        </a>
                        <div class="product-card__wrapper">
                            <h3 class="product-card__title">
                                Морковь молодая с бабушкиной грядки, 1кг
                            </h3>
                            <span class="price price--top">
                                <span class="price__item">
                                    49
                                    <svg class="price__currency" width="10" height="14">
                                        <use xlink:href="images/sprite.svg#icon-rub"></use>
                                    </svg>
                                </span>
                            </span>
                            <button class="basket-btn" type="button">
                                <span class="sr-only">корзина товаров</span>
                                <svg width="16" height="16">
                                    <use xlink:href="images/sprite.svg#icon-basket"></use>
                                </svg>
                            </button>
                        </div>
                    </article>
                </li>
                <li class="products-top__item mix drinks">
                    <article class="product-card">
                        <span class="badge">
                            <span class="badge__item badge__item--sale">-30%</span>
                        </span>
                        <button class="product-card__chosen-btn chosen-btn" type="button">
                            <span class="sr-only">добавить в избранное</span>
                            <svg width="32" height="29">
                                <use xlink:href="images/sprite.svg#icon-heart"></use>
                            </svg>
                        </button>
                        <a class="product-card__link" href="#">
                            <img class="product-card__img product-card__img--small" src="images/product-cards/juice.jpg"
                                width="298" height="215" alt="Напиток">
                        </a>
                        <div class="product-card__wrapper">
                            <h3 class="product-card__title">
                                Напиток сокосодержащий Sanpellegrino Aranciata Orange Красный апельсин безалкогольный
                            </h3>
                            <span class="price price--top">
                                <span class="price__item price__item--old">
                                    299
                                    <svg class="price__currency" width="10" height="14">
                                        <use xlink:href="images/sprite.svg#icon-rub"></use>
                                    </svg>
                                </span>
                                <span class="price__item">
                                    199
                                    <svg class="price__currency" width="10" height="14">
                                        <use xlink:href="images/sprite.svg#icon-rub"></use>
                                    </svg>
                                </span>
                            </span>
                            <button class="basket-btn" type="button">
                                <span class="sr-only">корзина товаров</span>
                                <svg width="16" height="16">
                                    <use xlink:href="images/sprite.svg#icon-basket"></use>
                                </svg>
                            </button>
                        </div>
                    </article>
                </li>
                <li class="products-top__item mix groceries">
                    <article class="product-card">
                        <span class="badge">
                            <span class="badge__item badge__item--new">Новинка</span>
                        </span>
                        <button class="product-card__chosen-btn chosen-btn" type="button">
                            <span class="sr-only">добавить в избранное</span>
                            <svg width="32" height="29">
                                <use xlink:href="images/sprite.svg#icon-heart"></use>
                            </svg>
                        </button>
                        <a class="product-card__link" href="#">
                            <img class="product-card__img product-card__img--small"
                                src="images/product-cards/coffee.jpg" width="298" height="215" alt="Кофе">
                        </a>
                        <div class="product-card__wrapper">
                            <h3 class="product-card__title">
                                Кофе с коноплей органический Caffé Salomoni 250г
                            </h3>
                            <span class="price price--top">
                                <span class="price__item">
                                    877
                                    <svg class="price__currency" width="10" height="14">
                                        <use xlink:href="images/sprite.svg#icon-rub"></use>
                                    </svg>
                                </span>
                            </span>
                            <button class="basket-btn" type="button">
                                <span class="sr-only">корзина товаров</span>
                                <svg width="16" height="16">
                                    <use xlink:href="images/sprite.svg#icon-basket"></use>
                                </svg>
                            </button>
                        </div>
                    </article>
                </li>
                <li class="products-top__item mix vegetables">
                    <article class="product-card">
                        <span class="badge">
                            <span class="badge__item badge__item--new">Новинка</span>
                        </span>
                        <button class="product-card__chosen-btn chosen-btn" type="button">
                            <span class="sr-only">добавить в избранное</span>
                            <svg width="32" height="29">
                                <use xlink:href="images/sprite.svg#icon-heart"></use>
                            </svg>
                        </button>
                        <a class="product-card__link" href="#">
                            <img class="product-card__img product-card__img--small"
                                src="images/product-cards/paprik.jpg" width="298" height="215" alt="Перец оранжевый">
                        </a>
                        <div class="product-card__wrapper">
                            <h3 class="product-card__title">
                                Перец оранжевый, 1кг
                            </h3>
                            <span class="price price--top">
                                <span class="price__item">
                                    349
                                    <svg class="price__currency" width="10" height="14">
                                        <use xlink:href="images/sprite.svg#icon-rub"></use>
                                    </svg>
                                </span>
                            </span>
                            <button class="basket-btn" type="button">
                                <span class="sr-only">корзина товаров</span>
                                <svg width="16" height="16">
                                    <use xlink:href="images/sprite.svg#icon-basket"></use>
                                </svg>
                            </button>
                        </div>
                    </article>
                </li>
            </ul>
        </div>
        <a class="button button--light" href="#">Показать еще</a>
    </div>
</section>