<section class="products-stock section" style="background-color: #f5f5f5;">
    <div class="container">
        <h2 class="title">Акции</h2>
        <div data-ref="container-2">
            <ul class="categories">
                <li class="categories__item">
                    <button class="categories__btn" type="button" data-filter="all">Все товары</button>
                </li>
                <li class="categories__item">
                    <button class="categories__btn" type="button" data-filter=".new">Новинки</button>
                </li>
                <li class="categories__item">
                    <button class="categories__btn" type="button" data-filter=".hits">Хиты</button>
                </li>
            </ul>
            <ul class="products-stock__wrapper">
                <li class="products-top__item mix new">
                    <article class="product-card product-card--stock">
                        <span class="product-card__badge badge badge__new-product">Новинка</span>
                        <a class="product-card__link product-card__link--stock" href="#" target="_blank">
                            <img class="product-card__img" src="images/product-cards/pineapple-m.jpg" width="100"
                                height="100" alt="Ананас">
                        </a>
                        <div class="product-card__wrapper product-card__wrapper--stock">
                            <h3 class="product-card__title product-card__title--stock">Ананас, 1кг
                            </h3>
                            <span class="product-card__status product-card__status--in">в наличии</span>
                            <span class="product-card__price product-card__price--stock">
                                999
                                <svg class="product-card__price-icon" width="10" height="13">
                                    <use xlink:href="images/sprite.svg#icon-rub"></use>
                                </svg>
                            </span>
                            <span class="product-card__price-sale product-card__price-sale--stock">
                                1999
                                <svg class="product-card__icon-sale" width="10" height="12">
                                    <use xlink:href="images/sprite.svg#icon-rub"></use>
                                </svg>
                            </span>
                            <span class="product-card__stars">
                                4.5
                                <svg class="product-card__stars-icon" width="16" height="16">
                                    <use xlink:href="images/sprite.svg#icon-stars"></use>
                                </svg>
                            </span>
                        </div>
                    </article>
                </li>
                <li class="products-top__item mix new">
                    <article class="product-card product-card--stock">
                        <span class="product-card__badge badge badge__new-product">Новинка</span>
                        <a class="product-card__link product-card__link--stock" href="#" target="_blank">
                            <img class="product-card__img" src="images/product-cards/coffe-m.jpg" width="100"
                                height="100" alt="кофе">
                        </a>
                        <div class="product-card__wrapper product-card__wrapper--stock">
                            <h3 class="product-card__title product-card__title--stock">Кофе с коноплей органический
                                Caffé Salomoni 250г
                            </h3>
                            <span class="product-card__status product-card__status--end">заканчивается</span>
                            <span class="product-card__price product-card__price--stock">
                                777
                                <svg class="product-card__price-icon" width="10" height="13">
                                    <use xlink:href="images/sprite.svg#icon-rub"></use>
                                </svg>
                            </span>
                            <span class="product-card__price-sale product-card__price-sale--stock">
                                877
                                <svg class="product-card__icon-sale" width="10" height="12">
                                    <use xlink:href="images/sprite.svg#icon-rub"></use>
                                </svg>
                            </span>
                            <span class="product-card__stars">
                                4.9
                                <svg class="product-card__stars-icon" width="16" height="16">
                                    <use xlink:href="images/sprite.svg#icon-stars"></use>
                                </svg>
                            </span>
                        </div>
                    </article>
                </li>
                <li class="products-top__item mix new">
                    <article class="product-card product-card--stock">
                        <span class="product-card__badge badge badge__new-product">Новинка</span>
                        <a class="product-card__link product-card__link--stock" href="#" target="_blank">
                            <img class="product-card__img" src="images/product-cards/strawberry-m.jpg" width="100"
                                height="100" alt="клубника">
                        </a>
                        <div class="product-card__wrapper product-card__wrapper--stock">
                            <h3 class="product-card__title product-card__title--stock">Клубника, 1 кг
                            </h3>
                            <span class="product-card__status product-card__status--no">нет в наличии</span>
                            <span class="product-card__price product-card__price--stock">
                                440
                                <svg class="product-card__price-icon" width="10" height="13">
                                    <use xlink:href="images/sprite.svg#icon-rub"></use>
                                </svg>
                            </span>
                            <span class="product-card__price-sale product-card__price-sale--stock">
                                600
                                <svg class="product-card__icon-sale" width="10" height="12">
                                    <use xlink:href="images/sprite.svg#icon-rub"></use>
                                </svg>
                            </span>
                            <span class="product-card__stars">
                                5.0
                                <svg class="product-card__stars-icon" width="16" height="16">
                                    <use xlink:href="images/sprite.svg#icon-stars"></use>
                                </svg>
                            </span>
                        </div>
                    </article>
                </li>
                <li class="products-top__item mix new">
                    <article class="product-card product-card--stock">
                        <span class="product-card__badge badge badge__new-product">Новинка</span>
                        <a class="product-card__link product-card__link--stock" href="#" target="_blank">
                            <img class="product-card__img" src="images/product-cards/mango-m.jpg" width="100"
                                height="100" alt="манго">
                        </a>
                        <div class="product-card__wrapper product-card__wrapper--stock">
                            <h3 class="product-card__title product-card__title--stock">Манго, 1 кг
                            </h3>
                            <span class="product-card__status product-card__status--in">в наличии</span>
                            <span class="product-card__price product-card__price--stock">
                                660
                                <svg class="product-card__price-icon" width="10" height="13">
                                    <use xlink:href="images/sprite.svg#icon-rub"></use>
                                </svg>
                            </span>
                            <span class="product-card__price-sale product-card__price-sale--stock">
                                960
                                <svg class="product-card__icon-sale" width="10" height="12">
                                    <use xlink:href="images/sprite.svg#icon-rub"></use>
                                </svg>
                            </span>
                            <span class="product-card__stars">
                                5.0
                                <svg class="product-card__stars-icon" width="16" height="16">
                                    <use xlink:href="images/sprite.svg#icon-stars"></use>
                                </svg>
                            </span>
                        </div>
                    </article>
                </li>
                <li class="products-top__item mix new">
                    <article class="product-card product-card--stock">
                        <span class="product-card__badge badge badge__new-product">Новинка</span>
                        <a class="product-card__link product-card__link--stock" href="#" target="_blank">
                            <img class="product-card__img" src="images/product-cards/fish-m.jpg" width="100"
                                height="100" alt="лосось">
                        </a>
                        <div class="product-card__wrapper product-card__wrapper--stock">
                            <h3 class="product-card__title product-card__title--stock">Лосось, 1 кг
                            </h3>
                            <span class="product-card__status product-card__status--in">в наличии</span>
                            <span class="product-card__price product-card__price--stock">
                                999
                                <svg class="product-card__price-icon" width="10" height="13">
                                    <use xlink:href="images/sprite.svg#icon-rub"></use>
                                </svg>
                            </span>
                            <span class="product-card__price-sale product-card__price-sale--stock">
                                1199
                                <svg class="product-card__icon-sale" width="10" height="12">
                                    <use xlink:href="images/sprite.svg#icon-rub"></use>
                                </svg>
                            </span>
                            <span class="product-card__stars">
                                4.5
                                <svg class="product-card__stars-icon" width="16" height="16">
                                    <use xlink:href="images/sprite.svg#icon-stars"></use>
                                </svg>
                            </span>
                        </div>
                    </article>
                </li>
                <li class="products-top__item mix hits">
                    <article class="product-card product-card--stock">
                        <span class="product-card__badge badge badge__hit-product">Хит</span>
                        <a class="product-card__link product-card__link--stock" href="#" target="_blank">
                            <img class="product-card__img" src="images/product-cards/juice-m.jpg" width="100"
                                height="100" alt="сок">
                        </a>
                        <div class="product-card__wrapper product-card__wrapper--stock">
                            <h3 class="product-card__title product-card__title--stock">Сок Granini овощной 100%, 0.5л
                            </h3>
                            <span class="product-card__status product-card__status--end">заканчивается</span>
                            <span class="product-card__price product-card__price--stock">
                                180
                                <svg class="product-card__price-icon" width="10" height="13">
                                    <use xlink:href="images/sprite.svg#icon-rub"></use>
                                </svg>
                            </span>
                            <span class="product-card__price-sale product-card__price-sale--stock">
                                230
                                <svg class="product-card__icon-sale" width="10" height="12">
                                    <use xlink:href="images/sprite.svg#icon-rub"></use>
                                </svg>
                            </span>
                            <span class="product-card__stars">
                                4.9
                                <svg class="product-card__stars-icon" width="16" height="16">
                                    <use xlink:href="images/sprite.svg#icon-stars"></use>
                                </svg>
                            </span>
                        </div>
                    </article>
                </li>
                <li class="products-top__item mix hits">
                    <article class="product-card product-card--stock">
                        <span class="product-card__badge badge badge__hit-product">Хит</span>
                        <a class="product-card__link product-card__link--stock" href="#" target="_blank">
                            <img class="product-card__img" src="images/product-cards/fruit-m.jpg" width="100"
                                height="100" alt="корзина фруктов">
                        </a>
                        <div class="product-card__wrapper product-card__wrapper--stock">
                            <h3 class="product-card__title product-card__title--stock">Фруктовая корзина, 1 шт
                            </h3>
                            <span class="product-card__status product-card__status--in">в наличии</span>
                            <span class="product-card__price product-card__price--stock">
                                3990
                                <svg class="product-card__price-icon" width="10" height="13">
                                    <use xlink:href="images/sprite.svg#icon-rub"></use>
                                </svg>
                            </span>
                            <span class="product-card__price-sale product-card__price-sale--stock">
                                5990
                                <svg class="product-card__icon-sale" width="10" height="12">
                                    <use xlink:href="images/sprite.svg#icon-rub"></use>
                                </svg>
                            </span>
                            <span class="product-card__stars">
                                4.8
                                <svg class="product-card__stars-icon" width="16" height="16">
                                    <use xlink:href="images/sprite.svg#icon-stars"></use>
                                </svg>
                            </span>
                        </div>
                    </article>
                </li>
                <li class="products-top__item mix hits">
                    <article class="product-card product-card--stock">
                        <span class="product-card__badge badge badge__hit-product">Хит</span>
                        <a class="product-card__link product-card__link--stock" href="#" target="_blank">
                            <img class="product-card__img" src="images/product-cards/meat-m.jpg" width="100"
                                height="100" alt="мясо свинина">
                        </a>
                        <div class="product-card__wrapper product-card__wrapper--stock">
                            <h3 class="product-card__title product-card__title--stock">Свинина мякоть, 1 кг
                            </h3>
                            <span class="product-card__status product-card__status--in">в наличии</span>
                            <span class="product-card__price product-card__price--stock">
                                499
                                <svg class="product-card__price-icon" width="10" height="13">
                                    <use xlink:href="images/sprite.svg#icon-rub"></use>
                                </svg>
                            </span>
                            <span class="product-card__price-sale product-card__price-sale--stock">
                                599
                                <svg class="product-card__icon-sale" width="10" height="12">
                                    <use xlink:href="images/sprite.svg#icon-rub"></use>
                                </svg>
                            </span>
                            <span class="product-card__stars">
                                4.6
                                <svg class="product-card__stars-icon" width="16" height="16">
                                    <use xlink:href="images/sprite.svg#icon-stars"></use>
                                </svg>
                            </span>
                        </div>
                    </article>
                </li>
            </ul>
        </div>
        <a class="button" href="#">Показать еще</a>
    </div>
</section>