<section class="promotion section">
    <h2 class="sr-only">Реклама магазина</h2>
    <div class="container">
        <ul class="promotion__wrapper">
            <li class="promotion__item promotion__item--big">
                <div class="promotion-card promotion-card--light"
                    style="background-image: url('images/promotion/fruits.jpg');">
                    <span class="promotion-card__text">Свежайшие фрукты</span>
                    <h3 class="promotion-card__title">
                        Начни фруктовое лето всего от 99р
                    </h3>
                    <a class="promotion-card__link" href="#">Перейти к покупкам</a>
                </div>
            </li>
            <li class="promotion__item">
                <div class="promotion-card" style="background-image: url('images/promotion/veg.jpg');">
                    <span class="promotion-card__text">Сезонная распродажа</span>
                    <h3 class="promotion-card__title">Овощепад до -50%</h3>
                    <a class="promotion-card__link" href="#">Перейти к покупкам</a>
                </div>
            </li>
            <li class="promotion__item">
                <div class="promotion-card" style="background-image: url('images/promotion/bread.jpg');">
                    <span class="promotion-card__text">Ням-ням</span>
                    <h3 class="promotion-card__title">Свежий хлебчик</h3>
                    <a class="promotion-card__link" href="#">Перейти к покупкам</a>
                </div>
            </li>
        </ul>
    </div>
</section>