<section class="products-top section">
    <div class="container">
        <h2 class="title">Топовые товары</h2>
        <div data-ref="container-1">
            <ul class="categories">
                <li class="categories__item">
                    <button class="categories__btn" type="button" data-filter="all">Все товары</button>
                </li>
                <li class="categories__item">
                    <button class="categories__btn" type="button" data-filter=".fruit">Фрукты</button>
                </li>
                <li class="categories__item">
                    <button class="categories__btn" type="button" data-filter=".vegetables">Овощи</button>
                </li>
                <li class="categories__item">
                    <button class="categories__btn" type="button" data-filter=".drinks">Напитки</button>
                </li>
                <li class="categories__item">
                    <button class="categories__btn" type="button" data-filter=".groceries">Бакалея</button>
                </li>
            </ul>
            <ul class="products-top__wrapper">
                <li class="products-top__item mix fruit">
                    <article class="product-card">
                        <span class="product-card__badge badge badge__new-product">Новинка</span>
                        <span
                            class="product-card__badge product-card__badge--true badge badge__sale-product">-50%</span>
                        <button class="product-card__chosen-btn chosen-btn" type="button">
                            <span class="sr-only">добавить в избранное</span>
                            <svg class="chosen-btn__chosen-icon" width="32" height="29">
                                <use xlink:href="images/sprite.svg#icon-heart"></use>
                            </svg>
                        </button>
                        <a class="product-card__link" href="#" target="_blank">
                            <img class="product-card__img" src="images/product-cards/pineapple.jpg" width="298"
                                height="215" alt="Ананас">
                        </a>
                        <div class="product-card__wrapper">
                            <span class="product-card__title">Ананас, 1кг
                            </span>
                            <span class="product-card__price-sale">
                                1999
                                <svg class="product-card__icon-sale" width="10" height="14">
                                    <use xlink:href="images/sprite.svg#icon-rub"></use>
                                </svg>
                            </span>
                            <span class="product-card__price">
                                999
                                <svg class="product-card__price-icon" width="10" height="14">
                                    <use xlink:href="images/sprite.svg#icon-rub"></use>
                                </svg>
                            </span>
                            <button class="basket-btn" type="button">
                                <span class="sr-only">корзина товаров</span>
                                <svg class="basket-btn__basket-icon" width="16" height="16">
                                    <use xlink:href="images/sprite.svg#icon-basket"></use>
                                </svg>
                            </button>
                        </div>
                    </article>
                </li>
                <li class="products-top__item mix fruit">
                    <article class="product-card">
                        <button class="product-card__chosen-btn chosen-btn" type="button">
                            <span class="sr-only">добавить в избранное</span>
                            <svg class="chosen-btn__chosen-icon" width="32" height="29">
                                <use xlink:href="images/sprite.svg#icon-heart"></use>
                            </svg>
                        </button>
                        <a class="product-card__link" href="#" target="_blank">
                            <img class="product-card__img" src="images/product-cards/lemon.jpg" width="298" height="215"
                                alt="Лимон">
                        </a>
                        <div class="product-card__wrapper">
                            <span class="product-card__title">Лимон, 1кг</span>
                            <span class="product-card__price">
                                199
                                <svg class="product-card__price-icon" width="10" height="14">
                                    <use xlink:href="images/sprite.svg#icon-rub"></use>
                                </svg>
                            </span>
                            <button class="basket-btn" type="button">
                                <span class="sr-only">корзина товаров</span>
                                <svg class="basket-btn__basket-icon" width="16" height="16">
                                    <use xlink:href="images/sprite.svg#icon-basket"></use>
                                </svg>
                            </button>
                        </div>
                    </article>
                </li>
                <li class="products-top__item mix fruit">
                    <article class="product-card">
                        <span class="product-card__badge badge badge__hit-product">Хит</span>
                        <button class="product-card__chosen-btn chosen-btn" type="button">
                            <span class="sr-only">добавить в избранное</span>
                            <svg class="chosen-btn__chosen-icon" width="32" height="29">
                                <use xlink:href="images/sprite.svg#icon-heart"></use>
                            </svg>
                        </button>
                        <a class="product-card__link" href="#" target="_blank">
                            <img class="product-card__img" src="images/product-cards/dragon-fruit.jpg" width="298"
                                height="215" alt="Питахайя">
                        </a>
                        <div class="product-card__wrapper">
                            <span class="product-card__title">
                                Питахайя красная с белой мякотью, 1шт
                            </span>
                            <span class="product-card__price">
                                1019
                                <svg class="product-card__price-icon" width="10" height="14">
                                    <use xlink:href="images/sprite.svg#icon-rub"></use>
                                </svg>
                            </span>
                            <button class="basket-btn" type="button">
                                <span class="sr-only">корзина товаров</span>
                                <svg class="basket-btn__basket-icon" width="16" height="16">
                                    <use xlink:href="images/sprite.svg#icon-basket"></use>
                                </svg>
                            </button>
                        </div>
                    </article>
                </li>
                <li class="products-top__item mix groceries">
                    <article class="product-card">
                        <button class="product-card__chosen-btn chosen-btn" type="button">
                            <span class="sr-only">добавить в избранное</span>
                            <svg class="chosen-btn__chosen-icon" width="32" height="29">
                                <use xlink:href="images/sprite.svg#icon-heart"></use>
                            </svg>
                        </button>
                        <a class="product-card__link" href="#" target="_blank">
                            <img class="product-card__img" src="images/product-cards/ketchup.jpg" width="298"
                                height="215" alt="Кетчуп детский">
                        </a>
                        <div class="product-card__wrapper">
                            <span class="product-card__title">
                                Кетчуп томатный детский органический Bio-Zentrale 500мл, 1 шт
                            </span>
                            <span class="product-card__price">
                                600
                                <svg class="product-card__price-icon" width="10" height="14">
                                    <use xlink:href="images/sprite.svg#icon-rub"></use>
                                </svg>
                            </span>
                            <button class="basket-btn" type="button">
                                <span class="sr-only">корзина товаров</span>
                                <svg class="basket-btn__basket-icon" width="16" height="16">
                                    <use xlink:href="images/sprite.svg#icon-basket"></use>
                                </svg>
                            </button>
                        </div>
                    </article>
                </li>
                <li class="products-top__item mix vegetables">
                    <article class="product-card">
                        <span class="product-card__badge badge badge__hit-product">Хит</span>
                        <button class="product-card__chosen-btn chosen-btn" type="button">
                            <span class="sr-only">добавить в избранное</span>
                            <svg class="chosen-btn__chosen-icon" width="32" height="29">
                                <use xlink:href="images/sprite.svg#icon-heart"></use>
                            </svg>
                        </button>
                        <a class="product-card__link" href="#" target="_blank">
                            <img class="product-card__img" src="images/product-cards/carrot.jpg" width="298"
                                height="215" alt="Морковь">
                        </a>
                        <div class="product-card__wrapper">
                            <span class="product-card__title">
                                Морковь молодая с бабушкиной грядки, 1кг
                            </span>
                            <span class="product-card__price">
                                49
                                <svg class="product-card__price-icon" width="10" height="14">
                                    <use xlink:href="images/sprite.svg#icon-rub"></use>
                                </svg>
                            </span>
                            <button class="basket-btn" type="button">
                                <span class="sr-only">корзина товаров</span>
                                <svg class="basket-btn__basket-icon" width="16" height="16">
                                    <use xlink:href="images/sprite.svg#icon-basket"></use>
                                </svg>
                            </button>
                        </div>
                    </article>
                </li>
                <li class="products-top__item mix drinks">
                    <article class="product-card">
                        <span class="product-card__badge badge badge__sale-product">-30%</span>
                        <button class="product-card__chosen-btn chosen-btn" type="button">
                            <span class="sr-only">добавить в избранное</span>
                            <svg class="chosen-btn__chosen-icon" width="32" height="29">
                                <use xlink:href="images/sprite.svg#icon-heart"></use>
                            </svg>
                        </button>
                        <a class="product-card__link" href="#" target="_blank">
                            <img class="product-card__img" src="images/product-cards/juice.jpg" width="298" height="215"
                                alt="Напиток">
                        </a>
                        <div class="product-card__wrapper">
                            <span class="product-card__title">
                                Напиток сокосодержащий Sanpellegrino Aranciata Orange Красный апельсин безалкогольный
                            </span>
                            <span class="product-card__price-sale">
                                299
                                <svg class="product-card__icon-sale" width="10" height="14">
                                    <use xlink:href="images/sprite.svg#icon-rub"></use>
                                </svg>
                            </span>
                            <span class="product-card__price">
                                199
                                <svg class="product-card__price-icon" width="10" height="14">
                                    <use xlink:href="images/sprite.svg#icon-rub"></use>
                                </svg>
                            </span>
                            <button class="basket-btn" type="button">
                                <span class="sr-only">корзина товаров</span>
                                <svg class="basket-btn__basket-icon" width="16" height="16">
                                    <use xlink:href="images/sprite.svg#icon-basket"></use>
                                </svg>
                            </button>
                        </div>
                    </article>
                </li>
                <li class="products-top__item mix groceries">
                    <article class="product-card">
                        <span class="product-card__badge badge badge__new-product">Новинка</span>
                        <button class="product-card__chosen-btn chosen-btn" type="button">
                            <span class="sr-only">добавить в избранное</span>
                            <svg class="chosen-btn__chosen-icon" width="32" height="29">
                                <use xlink:href="images/sprite.svg#icon-heart"></use>
                            </svg>
                        </button>
                        <a class="product-card__link" href="#" target="_blank">
                            <img class="product-card__img" src="images/product-cards/coffee.jpg" width="298"
                                height="215" alt="Кофе">
                        </a>
                        <div class="product-card__wrapper">
                            <span class="product-card__title">
                                Кофе с коноплей органический Caffé Salomoni 250г
                            </span>
                            <span class="product-card__price">
                                877
                                <svg class="product-card__price-icon" width="10" height="14">
                                    <use xlink:href="images/sprite.svg#icon-rub"></use>
                                </svg>
                            </span>
                            <button class="basket-btn" type="button">
                                <span class="sr-only">корзина товаров</span>
                                <svg class="basket-btn__basket-icon" width="16" height="16">
                                    <use xlink:href="images/sprite.svg#icon-basket"></use>
                                </svg>
                            </button>
                        </div>
                    </article>
                </li>
                <li class="products-top__item mix vegetables">
                    <article class="product-card">
                        <span class="product-card__badge badge badge__new-product">Новинка</span>
                        <button class="product-card__chosen-btn chosen-btn" type="button">
                            <span class="sr-only">добавить в избранное</span>
                            <svg class="chosen-btn__chosen-icon" width="32" height="29">
                                <use xlink:href="images/sprite.svg#icon-heart"></use>
                            </svg>
                        </button>
                        <a class="product-card__link" href="#" target="_blank">
                            <img class="product-card__img" src="images/product-cards/paprik.jpg" width="298"
                                height="215" alt="Перец оранжевый">
                        </a>
                        <div class="product-card__wrapper">
                            <span class="product-card__title">
                                Перец оранжевый, 1кг
                            </span>
                            <span class="product-card__price">
                                349
                                <svg class="product-card__price-icon" width="10" height="14">
                                    <use xlink:href="images/sprite.svg#icon-rub"></use>
                                </svg>
                            </span>
                            <button class="basket-btn" type="button">
                                <span class="sr-only">корзина товаров</span>
                                <svg class="basket-btn__basket-icon" width="16" height="16">
                                    <use xlink:href="images/sprite.svg#icon-basket"></use>
                                </svg>
                            </button>
                        </div>
                    </article>
                </li>
            </ul>
        </div>
        <a class="button button--light" href="#">Показать еще</a>
    </div>
</section>