<section class="promotion-content section">
    <h2 class="sr-only">Реклама магазина</h2>
    <div class="container">
        <ul class="promotion-content__wrapper">
            <li class="promotion-content__item promotion-content__item--big promotion promotion--light"
                style="background-image: url('../../images/promotion/fruits.jpg');">
                <span class="promotion__text">Свежайшие фрукты</span>
                <h3 class="promotion__title">
                    Начни фруктовое лето всего от 99
                    <svg class="promotion__title-icon" width="18" height="30">
                        <use xlink:href="images/sprite.svg#icon-rub"></use>
                    </svg>
                </h3>
                <a class="promotion__link" href="#" target="_blak">Перейти к покупкам</a>
            </li>
            <li class="promotion-content__item promotion"
                style="background-image: url('../../images/promotion/veg.jpg');">
                <span class="promotion__text">Сезонная распродажа</span>
                <h3 class="promotion__title">Овощепад до -50%</h3>
                <a class="promotion__link" href="#" target="_blak">Перейти к покупкам</a>
            </li>
            <li class="promotion-content__item promotion"
                style="background-image: url('../../images/promotion/bread.jpg');">
                <span class="promotion__text">Ням-ням</span>
                <h3 class="promotion__title">Свежий хлебчик</h3>
                <a class="promotion__link" href="#" target="_blak">Перейти к покупкам</a>
            </li>
        </ul>
    </div>
</section>