<div class="product-tabs">
    <div class="container--min">
        <ul class="product-tabs__top">
            <li class="product-tabs__item">
                <a class="product-tabs__link" href="#">Описание</a>
            </li>
            <li class="product-tabs__item">
                <a class="product-tabs__link" href="#">Характеристики</a>
            </li>
            <li class="product-tabs__item">
                <a class="product-tabs__link" href="#">Отзывы (2)</a>
            </li>
        </ul>
        <div class="product-tabs__content">
            <div class="product-tabs__description">
                <p>
                    Питахайя – это источник питательных веществ и витаминов. Содержит витамин С, который способствует
                    укреплению иммунной системы. В составе питайи много клетчатки, она благотворно влияет на работу ЖКТ.
                    Оказывает противовоспалительное действие, так как фрукт богат антиоксидантами. При употреблении
                    питахайи, понижается уровень сахара в крови, улучшается зрение и работа сердечно–сосудистой системы.
                    Так как фрукт низкокалорийный и состоит на 90% из воды, способствует снижению веса.
                </p>
                <p>
                    Витамины: С, Е, РР, витамины группы В
                </p>
                <p>
                    Микроэлементы: железо, калий, кальций, магний, фосфор
                </p>
                <p>
                    Внешний вид товара может отличаться от изображений, представленных на сайте.
                </p>
            </div>
            <div class="product-tabs__characteristics">

            </div>
            <div class="product-tabs__reviews">

            </div>
        </div>
    </div>
</div>