.banner {
    &__wrapper {
        position: relative
    }

    &__item {
        @extend %bg;

        &--bg-1 {
            background-image: url('../../images/banner/bg-swiper-carrot.jpg');

            @media (max-width: 576px) {
                background-image: url('../../images/banner/bg-carrot-s.jpg');
            }
        }

        &--bg-2 {
            background-image: url('../../images/banner/bg-swiper-tomat.jpg');
        }

        &--bg-3 {
            background-image: url('../../images/banner/bg-swiper-salad.jpg');
        }
    }

    &__container {
        display: flex;
        min-height: calc(100vh - 333px);

        @media (max-width: 768px) {
            min-height: calc(100vh - 380px);
        }

        @media (max-width: 576px) {
            min-height: calc(100vh - 495px);
        }
    }

    &__inner {
        position: relative;
        border-radius: 4px;
        padding: 24px;
        margin: auto 0;
        width: 100%;
        z-index: 1;

        &::before {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            bottom: 0;
            border-radius: 4px;
            background-color: rgba(255, 255, 255, 0.8);
            z-index: -1;

            @media (max-width: 1250px) {
                width: 200%;
                left: -50%;
            }
        }

        @media (max-width: 768px) {
            padding: 15px 0;
        }
    }

    &__title {
        font-family: 'Ruda', sans-serif;
        font-weight: 900;
        font-size: 60px;
        line-height: 1.3;
        letter-spacing: normal;
        color: $dark-500;
        text-transform: uppercase;
        max-width: 761px;
        margin-bottom: 12px;

        @media (max-width: 992px) {
            font-size: 40px;
        }

        @media (max-width: 768px) {
            font-weight: 700;
            font-size: 30px;
            max-width: 90%;
        }

        @media (max-width: 576px) {
            font-size: 20px;
        }
    }

    &__headline {
        letter-spacing: normal;
        display: block;
        color: $red-900;
    }

    &__subtitle {
        letter-spacing: normal;
        font-size: 16px;
        color: $dark-500;
        margin-bottom: 32px;

        @media (max-width: 768px) {
            margin-bottom: 24px;
        }
    }
}