.products-interest {
    margin-bottom: 46px;
    text-align: center;

    @media (max-width: 992px) {
        margin-bottom: 70px;
    }

    @media (max-width: 576px) {
        margin-bottom: 56px;
    }

    &__title {
        font-family: 'Ruda';
        font-weight: 600;
        font-size: 30px;
        line-height: 1.2;
        letter-spacing: 0.03em;
        color: #000;
        text-transform: uppercase;
        margin-bottom: 60px;

        @media (max-width: 768px) {
            font-size: 24px;
            text-align: left;
            margin-bottom: 29px;
        }
    }

    .slick-arrow {
        border: 1px solid $silver-600;
    }

    .slick-next {
        right: 0;
        top: -19%;

        @media (max-width: 1200px) {
            right: 90px;
        }
    }

    .slick-prev {
        left: 88%;
        top: -19%;

        @media (max-width: 1200px) {
            left: 77%;
        }
    }

    .slick-dots {
        bottom: -40px;

        @media (max-width: 576px) {
            bottom: -20px;
        }

        li {
            width: 15px;
            height: 15px;

            @media (max-width: 768px) {
                width: 10px;
                height: 10px;
            }
        }
    }
}