.products-page {
    padding-top: 48px;

    @media (max-width: 768px) {
        padding: 30px 0 36px 0;
    }

    &__title {
        font-family: 'Ruda', sans-serif;
        font-weight: 700;
        font-size: 42px;
        line-height: 1.2;
        letter-spacing: 0.03em;
        margin-bottom: 48px;

        @media (max-width: 768px) {
            font-size: 30px;
            margin-bottom: 30px;
        }
    }

    &__wrapper {
        display: flex;
        justify-content: space-between;
    }

    &__filters {
        width: 23%;

        @media (max-width: 1170px) {
            display: none;
        }

        &.active {
            display: block;
            position: fixed;
            padding: 0 15px;
            top: 0;
            left: 0;
            bottom: 0;
            max-width: 335px;
            width: 100%;
            height: 100%;
            background-color: $white;
            z-index: 3;
            overflow-y: auto;

            .close-btn--filters {
                display: block;
            }
        }
    }

    &__content {
        width: 75%;

        @media (max-width: 1170px) {
            width: 100%;
        }
    }

    &__sort-buttons {
        display: flex;
        justify-content: end;
        align-items: center;
        margin-bottom: 48px;

        @media (max-width: 768px) {
            justify-content: start;
            margin-bottom: 30px;
        }
    }

    &__filter-btn {
        display: none;
        width: 47px;
        height: 47px;
        border-radius: 3px;
        color: $green-900;
        background-color: $silver-100;
        text-align: center;
        padding: 5px 0;
        margin-right: 10px;

        &:hover {
            background-color: $green-200;
        }

        &:focus {
            box-shadow: 0 0 0 3px $green-200;
        }

        &:active {
            box-shadow: inset 0 10px 4px rgba(0, 0, 0, 0.1);
        }

        @media (max-width: 1170px) {
            display: block;
        }
    }

    &__sort {
        &--name {
            margin-right: 10px;
            width: 150px;

            @media (max-width: 576px) {
                margin-right: 5px;
                width: 115px;
            }

            .jq-selectbox__dropdown {
                width: 150px;

                @media (max-width: 576px) {
                    width: 115px;
                }
            }
        }

        &--number {
            margin-right: 20px;
            width: 100px;

            @media (max-width: 576px) {
                width: 70px;
            }

            .jq-selectbox__dropdown {
                width: 100px;

                @media (max-width: 576px) {
                    width: 70px;
                }
            }
        }
    }

    &__toggle-btn {
        width: 47px;
        height: 47px;
        background-color: $silver-100;
        border-radius: 3px;
        color: $silver-600;

        &.active {
            color: $green-hov;
        }

        &:hover {
            color: $green-hov;
            background-color: $green-200;
        }

        &:focus {
            box-shadow: 0 0 0 4px $green-200;
        }

        &:active {
            background-color: $silver-600;
        }

        @media (max-width: 768px) {
            display: none;
        }
    }

    &__container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 30px;
        margin-bottom: 48px;

        &.list {
            grid-template-columns: repeat(2, 1fr);

            .product-card {
                display: flex;
                max-width: 466px;
                padding: 0;
                min-height: 165px;
            }

            .product-card__link {
                padding-top: 6px;
            }

            .product-card__img {
                width: 200px;
                height: 140px;
            }

            .product-card__chosen-btn {
                top: 57px;
                right: 11px;
            }

            .product-card__wrapper {
                padding: 12px 18px;
            }

            .badge {
                top: 2px;
                left: 6px;
            }

            .product-card__wrap {
                margin-bottom: 12px;
            }

            .product-card__title {
                padding-right: 50px;
                margin-bottom: 13px;
            }
        }

        @media (max-width: 1170px) {
            width: 970px;
            margin: 0 auto 24px auto;
        }

        @media (max-width: 992px) {
            width: 100%;
            grid-gap: 6px;
        }

        @media (max-width: 768px) {
            grid-template-columns: repeat(2, 1fr);
            max-width: 630px;
        }
    }

    &__bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media (max-width: 768px) {
            flex-direction: column;
        }
    }

    &__pagination {
        @media (max-width: 768px) {
            margin-top: 24px;
        }
    }

}