.promotion {
    padding-top: 0;

    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: stretch;

        @media (max-width: 1250px) {
            flex-wrap: wrap;
            max-width: 800px;
            margin: 0 auto;
        }
    }

    &__item {
        max-width: 23%;
        width: 100%;

        &--big {
            max-width: 49%;

            .promotion-card__title {
                max-width: 346px;
            }
        }

        @media (max-width: 1250px) {
            margin-bottom: 15px;
            max-width: 49%;

            &--big {
                max-width: 100%;
            }
        }

        @media (max-width: 630px) {
            max-width: 100%;

            &--big {
                .promotion-card__title {
                    max-width: 270px;
                }
            }
        }
    }
}