.promotion {
    padding-top: 0;

    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: stretch;
    }

    &__item {
        max-width: 23%;
        width: 100%;

        &--big {
            max-width: 49%;

            .promotion-card__title {
                max-width: 346px;
            }
        }
    }

    @media (max-width: 1250px) {
        &__wrapper {
            flex-wrap: wrap;
            max-width: 800px;
            margin: 0 auto;
        }

        &__item {
            margin-bottom: 15px;
            max-width: 49%;

            &--big {
                max-width: 100%;

                .promotion-card__title {
                    max-width: 100%;
                }
            }
        }
    }

    @media (max-width: 768px) {
        &__wrapper {
            flex-direction: column;
            max-width: 83%;
        }

        &__item {
            max-width: 100%;
        }
    }

    @media (max-width: 576px) {
        &__wrapper {
            max-width: 100%;
        }
    }
}