.product-tabs {
    padding-bottom: 86px;

    @media (max-width: 576px) {
        padding-bottom: 48px;
    }

    &__top {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-bottom: 50px;

        @media (max-width: 576px) {
            justify-content: space-between;
            margin-bottom: 31px;
        }
    }

    &__link {
        display: inline-block;
        font-family: 'Ruda';
        font-weight: 600;
        font-size: 18px;
        line-height: 24px;
        text-transform: uppercase;
        padding-top: 18px;

        &.active {
            position: relative;
            color: $green-900;
            opacity: 1;

            &::after {
                content: '';
                position: absolute;
                height: 3px;
                left: 0;
                right: 0;
                top: 0;
                width: 100%;
                background-color: currentColor;
            }
        }

        &:hover {
            color: $green-900;
        }

        @media (max-width: 576px) {
            letter-spacing: normal;
            font-size: 14px;
            padding-top: 14px;
        }
    }

    &__item {
        display: none;

        &.active {
            display: block;
        }
    }

    &__text {
        font-size: 16px;
        line-height: 1.6;
        letter-spacing: normal;
        color: #4F4F4F;

        &:not(:last-child) {
            margin-bottom: 28px;
        }
    }
}