.catalog-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;
    background-color: $white;
    border-radius: 6px;
    font-weight: 600;
    color: $green-900;
    padding: 16px 18px;
    width: 240px;

    &.active {
        border-radius: 6px 6px 0 0;

        .catalog-btn__arrow {
            transform: rotate(180deg);
        }
    }

    &:hover {
        background-color: $green-200;
    }

    &__arrow {
        transition: all 0.5s;
    }

    &--menu {
        display: block;
        text-align: left;
        width: 100%;
        font-weight: 600;
        font-size: 18px;
        line-height: 1;
        letter-spacing: 0.03em;
        color: $dark-800;
        padding: 14px 0;
        border-radius: 0;
        margin-bottom: 18px;

        &:focus {
            box-shadow: inset 0 0 0 3px $green-100;
        }
    }

    &__icon {
        margin-right: 11px;
        margin-bottom: -3px;
    }
}