.menu-btn {
    position: relative;
    width: 44px;
    height: 44px;
    border-radius: 3px;

    &__btn-line {
        display: block;
        width: 30px;
        height: 2px;
        margin: auto;
        color: $white;
        background-color: $white;

        &::before {
            content: '';
            position: absolute;
            left: 7px;
            top: 10px;
            width: 30px;
            height: 2px;
            background-color: currentColor;
        }

        &::after {
            content: '';
            position: absolute;
            left: 7px;
            bottom: 10px;
            width: 30px;
            height: 2px;
            background-color: currentColor;
        }
    }

    &:hover {
        background-color: rgba(255, 255, 255, 0.1);
    }

    &:focus {
        box-shadow: 0 0 0 3px $green-100;
    }

    &:active {
        color: $green-200;
    }
}