.footer {
    background-color: $dark-800;
    letter-spacing: normal;
    padding-top: 30px;

    &__logo {
        @media (max-width: 1200px) {
            display: inline-block;
        }
    }

    &__content {
        display: flex;
        align-items: start;
        justify-content: space-between;
        margin: 30px 0 17px 0;

        @media (max-width: 1200px) {
            text-align: left;
            flex-wrap: wrap;
            max-width: 80%;
            margin: 25px auto;
        }

        @media (max-width: 768px) {
            max-width: 100%;
            justify-content: center;
        }

        @media (max-width: 576px) {
            margin-top: 20px;
        }
    }

    &__form-subscribe {
        @media (max-width: 768px) {
            order: 3;
        }
    }

    &__item {
        margin-bottom: 18px;
        max-width: 130px;

        @media (max-width: 768px) {
            margin-bottom: 0;
        }
    }

    &__nav {
        @media (max-width: 1200px) {
            width: 100%;
            order: 3;
        }

        @media (max-width: 768px) {
            order: 2;
        }
    }

    &__link {
        display: block;
        color: $white;

        @media (max-width: 768px) {
            padding-bottom: 18px;
        }
    }

    &__list {
        column-count: 3;
        column-gap: 75px;
        margin-right: -75px;

        @media (max-width: 1200px) {
            margin-top: 50px;
            margin-right: 0;
            grid-gap: 0;
        }

        @media (max-width: 768px) {
            position: relative;
            margin-top: 0;
            margin-bottom: 25px;
            padding: 25px 0 25px 40px;

            &::after,
            &::before {
                content: '';
                position: absolute;
                width: 103%;
                height: 1px;
                background-color: rgba(255, 255, 255, 0.1);
            }

            &::before {
                top: 0;
                right: -10px;
            }

            &::after {
                bottom: 0;
                left: -10px;
            }
        }

        @media (max-width: 576px) {
            column-count: 2;
            padding-left: 40px;
            padding-bottom: 10px;
        }
    }

    &__connection {
        @media (max-width: 1200px) {
            order: 2;
        }

        @media (max-width: 768px) {
            order: 1;
            width: 100%;
            text-align: center;
        }
    }

    &__bottom {
        border-top: 1px solid rgba(255, 255, 255, 0.1);
    }

    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 24px 0;
        color: $white;

        @media (max-width: 1200px) {
            max-width: 90%;
            margin: 0 auto;
        }

        @media (max-width: 576px) {
            flex-direction: column-reverse;
        }
    }

    &__copy {
        text-transform: uppercase;
    }

    &__inner {
        @media (max-width: 576px) {
            margin-bottom: 25px;
        }
    }

    &__thumb:not(:last-child) {
        margin-right: 24px;

        @media (max-width: 576px) {
            margin-bottom: 20px;
        }
    }

    @media (max-width: 1200px) {
        padding-top: 24px;
        text-align: center;
    }
}