.footer {
    background-color: $dark-800;
    letter-spacing: normal;
    padding-top: 30px;

    &__content {
        display: flex;
        align-items: start;
        justify-content: space-between;
        margin: 30px 0 25px 0;
    }

    &__item {
        margin-bottom: 18px;
    }

    &__link {
        display: block;
        color: $white;
    }

    &__list {
        column-count: 3;
        column-gap: 75px;
        margin-right: -75px;
    }

    &__bottom {
        border-top: 1px solid rgba(255, 255, 255, 0.1);
    }

    &__wrapper {
        display: flex;
        align-items: center;
        padding: 24px 0;
        color: $white;
    }

    &__copy {
        margin-right: auto;
        text-transform: uppercase;
    }

    &__thumb:not(:last-child) {
        margin-right: 24px;
    }
}