.footer {
    background-color: $dark-800;
    letter-spacing: normal;
    padding-top: 30px;

    &__content {
        display: flex;
        align-items: start;
        justify-content: space-between;
        margin: 30px 0 25px 0;
    }

    &__item {
        margin-bottom: 18px;
    }

    &__link {
        display: block;
        color: $white;
    }

    &__list {
        column-count: 3;
        column-gap: 75px;
        margin-right: -75px;
    }

    &__bottom {
        border-top: 1px solid rgba(255, 255, 255, 0.1);
    }

    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 24px 0;
        color: $white;
    }

    &__copy {
        text-transform: uppercase;
    }

    &__thumb:not(:last-child) {
        margin-right: 24px;
    }

    @media (max-width: 1200px) {
        padding-top: 24px;
        text-align: center;

        &__logo {
            display: inline-block;
        }

        &__content {
            text-align: left;
            flex-wrap: wrap;
            max-width: 80%;
            margin: 25px auto;
        }

        &__connection {
            order: 2;
        }

        &__nav {
            width: 100%;
            order: 3;
        }

        &__list {
            margin-top: 50px;
        }

        &__wrapper {
            max-width: 80%;
            margin: 0 auto;
        }
    }

    @media (max-width: 768px) {
        &__content {
            flex-wrap: nowrap;
            flex-direction: column;
            align-items: center;
        }

        &__connection {
            order: 1;
        }

        &__form-subscribe {
            order: 3;
        }

        &__nav {
            order: 2;
        }

        &__list {
            position: relative;
            margin-top: 0;
            margin-bottom: 25px;
            padding: 25px 0;
            column-count: 3;
            column-gap: 50px;
            margin-right: -50px;

            &::after,
            &::before {
                content: '';
                position: absolute;
                width: 200%;
                height: 1px;
                background-color: rgba(255, 255, 255, 0.1);
            }

            &::before {
                top: 0;
                left: -200px;
            }

            &::after {
                bottom: 0;
                left: -250px;
            }

        }
    }

    @media (max-width: 576px) {
        &__content {
            max-width: 100%;
        }

        &__tell {
            display: block;
        }

        &__list {
            column-count: 2;
            margin-right: 0;
        }

        &__wrapper {
            flex-direction: column-reverse;
        }

        &__inner {
            margin-bottom: 25px;
        }
    }
}